@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

:root {
    --blue: #377DFF;
    --white: #FFFFFF;
    --gray: #707070;
    --font-color: #D1E0FB;
    --black: #212429;
}