/******************min-width****************/

@media only screen and (min-width: 576px) {}


@media only screen and (min-width: 768px) {}


@media only screen and (min-width: 992px) {}


@media only screen and (min-width: 1200px) {}



/***********************max-width************/

@media only screen and (max-width: 576px) {}


@media only screen and (max-width: 768px) {

    /***********features*********/
    .features-img {
        display: none;
    }

    .connect-img {
        display: none;
    }


    /***********footer*********/
    .footer-left {
        padding-right: 0;
        align-items: center;
    }

    .footer-left__caption {
        text-align: center;
    }

    .footer-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    .copyright {
        text-align: center;
    }

}


@media only screen and (max-width: 992px) {

    /***********header*********/
    .nav {
        justify-content: space-between;
        align-items: center;
    }

    .nav__bars {
        display: block;
        font-size: 40px;
        color: var(--font-color);
    }

    .nav__list {
        display: block;
        position: absolute;
        top: 0;
        left: -250px;
        width: 250px;
        background-color: var(--gray);
        transition: all 0.3s;
    }

    .nav__item {
        padding: 15px 10px;
    }

    .nav__dropdown {
        display: block;
        background-color: transparent;
        position: relative;
    }

    .nav__item--purchase {
        text-align: center;
    }

    .welcome {
        margin-bottom: 100px;
    }


    /***********features*********/
    .features-img img {
        width: 100%;
    }



    /***********connect*********/
    .connect-img__img1 {
        width: 100%;
    }

    .connect-img__img2 {
        width: 75%;
    }

    
    /***********answer*********/
    .answer-img {
        display: none;
    }



    /***********footer*********/

    .footer-left {
        margin-bottom: 100px;
    }

}


@media only screen and (max-width: 1200px) {}